<div class="panel panel-primary">
    <div class="panel-heading">
    <h3 class="panel-title">Alloting A New System</h3>    
    </div>   
    <div class="panel-body">
        <form class="form-group" id="form">
        <div class="row form-group">
            <div class="col-lg-offset-2 col-lg-2">
            <label>Employee Number :</label>
            </div>
            <div class="col-lg-4">
            <input type="text" id="empid" placeholder="AGS---" class="form-control" tabindex="1">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-offset-2 col-lg-2">
            <label>Machine Id :</label>
            </div>
            <div class="col-lg-4">
            <input type="text" id="macno" placeholder="Machine Number" class="form-control" tabindex="2">
            </div>
        </div>
    
    <div class="row form-group">
            <div class="col-lg-2">
            <label>Keyboard id :</label>
            </div>
            <div class="col-lg-4">
            <input type="text" id="keyno" placeholder="Keyboard No." class="form-control" tabindex="3">
            </div>
            <div class="col-lg-2">
            <label>Mouse id :</label>
            </div>
            <div class="col-lg-4">
            <input type="text" id="mouno" placeholder="Mouse No." class="form-control" tabindex="4">
            </div>
    </div>
    
    <div class="row form-group">
            <div class="col-lg-2">
            <label>Monitor id :</label>
            </div>
            <div class="col-lg-4">
            <input type="text" id="monno" placeholder="Monitor No." class="form-control" tabindex="5">
            </div>
            <div class="col-lg-2">
            <label>Adaptor id :</label>
            </div>
            <div class="col-lg-4">
            <input type="text" id="adpno" placeholder="Adapter No." class="form-control" tabindex="6">
            </div>
    </div>
    <div class="row form-group">
            <div class="col-lg-3 col-lg-offset-3">
            <input type="submit" class="btn btn-success btn-block" value="ALOT">
            </div>
            
            <div class="col-lg-3">
            <input type="button" id="res" class="btn btn-danger btn-block" value="Reset">
            </div>            
    </div>    
    </form>
    </div>    
</div>    
